//width
$maxWidth: 1440px;
$maxWidthContainer: 1345px;

//color
$accentColor: #00785C;
$fcDarkGreey: #A5A5A5;
$fcDarkGreey2: #A7A7A7;
$fcBlue: #00155D;
$fcLightGreey: #FAFAFA;
$fcWhite: #fff;

//size
$fsMini: 10px;
$fsMiniUp: 14px;
$FSNormal: 16px;
$fsMedium: 18px;
$fsMediumHight: 24px;
$FSBig: 54px;
//FontWeight
$FWBold: 900;
//radius
$RadiusSmall: 16px;
$RadiusBig: 40px;
//res 
$resLineHeight: 90%;

//button


