.title{
    color: $accentColor;
}

.button{
    text-transform: uppercase;
    border-radius: 12px;
    border: 1px solid #07A37E;
    font-size: 12px;
    font-weight: 400;
}
.button img {
    margin-right: 10px;
}